.side-bar {
    max-width: 16.5rem;
}

.site-header {
    height: 6.75rem;
    max-height: 6.75rem;
}

.site-logo {
    background-position: center;
}

.modal {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

.modal[hidden] {
    display: none;
}

.modal-backdrop {
    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.5);

    backdrop-filter: blur(2px);
}

.modal-dialog {
    position: relative;

    width: min(700px, 90vw);
    max-height: 85vh;

    overflow-y: auto;

    background: #27262b;
    color: #e6e1e8;

    border-radius: 10px;

    padding: 2rem;

    z-index: 1;

    box-shadow:
        0 0 40px rgba(0,0,0,.3);
}

.modal-close {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.modal-close:hover {
    opacity: 0.7;
}

.modal-close img {
    transition: transform 200ms ease;
    transform: rotate(0deg);
}

.modal-close:hover img {
    transform: rotate(-30deg);
}

.progress-bar {
    background: #0d1117;

    width: calc(25 * 16px + 2px);
    height: calc(4 * 16px + 2px);

    border: 1px solid #e6e1e8;
    border-radius: 4px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(25, 16px);
    grid-template-rows: repeat(4, 16px);
}

.progress-bar img {
    width: 16px;
    height: 16px;
    display: block;
}

.muted {
    color: #dddde1;
}

.dialogue-box {
    font-family: 'AngelLand';
    background: #090909;
    width: 32rem;
    height: 16rem;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.dialogue-box img {
    width: 64px;
    height: 64px;

    transform: translateY(-20px);
}

.dialogue-box .text {
    color: #ffffff;
    text-align: center;

    max-width: 80%;
    line-height: 1.4;
    min-height: 3em;
}

#tooltip {
    position: fixed;
    top: 0;
    left: 0;

    background: #0d1117;
    border: 1px solid #e6e1e8;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;

    pointer-events: none;
    opacity: 0;
    z-index: 9999;
    transform: translate(5%, -120%);
}
